<div class="header">
  <ul class="lista">
    <div class="logo">
      <li class="li"><a href="/"><img src="../../../assets/icono.png" class="icono"></a></li>
    </div>
    <div class="menubar">
      <a href="#" class="botonmenu">
        <span class="iconomenu">MENU</span>
      </a>
    </div>
    <div class="opciones">
      <li [ngClass]="{'activated': tabActivated == 1}" class="item-list"><a (click)="changeTab(1)" class="link-item" [routerLink]="['']"><b class="text-item">HOME</b></a></li>
      <li [ngClass]="{'activated': tabActivated == 2}" class="item-list"><a (click)="changeTab(2)" class="link-item" href="#"><b class="text-item">ABOUT US</b></a></li>
      <li [ngClass]="{'activated': tabActivated == 3}" class="item-list"><a (click)="changeTab(3)" class="link-item" href="#"><b class="text-item">CONTACTS</b></a></li>
      <li [ngClass]="{'activated': tabActivated == 4}" class="item-list"><a (click)="changeTab(4)" class="link-item" href="#"><b class="text-item">TYPEGRAPHY</b></a></li>
    </div>
    <div class="addAlbum">
        <li class="li"><a class="button" href="#"><b>ADD ALBUM</b></a></li>
    </div>
  </ul>
</div>
