
.header

  .lista
    list-style-type: none
    height: 88px
    align-items: center
    justify-content: center
    display: flex
    margin: 0px 25px

    .logo
      margin-right: auto
    
    .menubar
      display: none

    .icono
      width: 100px

    .opciones
      display: inline
      margin-left: 15px
      position: absolute
      padding: 0 90px 0 0

      .li

        &.activated
          border-bottom: 3px solid #FFAF0F

          .a

            .text
              color: #FFAF0F

    .addAlbum
      justify-self: right
      float: right
      margin-left: auto

      .button
        background: #FFAF0F
        text-decoration: none
        color: white
        font-size: 18px
        font-family: 'Oswald', sans-serif
        border-radius: 50px 50px
        width: 1000px
        padding: 10px 50px

        &:hover
          background: #F0A000

    .li
      display: inline
      text-align: center
      margin: 0 25px 0 0
      padding-bottom: 31px

      .a
        font-family: 'Oswald', sans-serif
        font-size: 18px
        padding: 2px 7px
        color: #666666
        text-decoration: none

        .b
          color: #FFAF0F

        &:focus
          color: #FFAF0F

        &:hover
          color: #FFAF0F
          border-bottom: 3px solid #FFAF0F
          padding-bottom: 30px

<<<<<<< HEAD
    .si
      border-bottom: 3px solid #FFAF0F

@media screen and ( max-width: 800px )
  .header
  
    .lista
      background: white
      width: 80%
      position: fixed
      height: 100%
      margin: 0
      display: block
=======
>>>>>>> 6e2830e061a2ce62b5bac21ffde46a00b9d81932

      .logo
        display: none

      .opciones
        float: none
        display: block
        text-align: center
        margin-left: -6%
        width: 100%

        .li
          margin-top: 14%
          border-bottom: 2px solid #0000007e
          display: block

          .a
            background: blue
            color: white

            .b
              color: white

        .si
          border-bottom: 3px solid #FFAF0F
      
      .addAlbum
        display: none
  

