
.header

  .lista
    list-style-type: none
    height: 70px
    align-items: center
    justify-content: center
    display: flex
    margin: 0px 25px

    .logo
      margin-right: auto

    .opciones
      display: inline
      margin-left: 15px
      position: absolute

    .addAlbum
      justify-self: right
      float: right
      margin-left: auto

      .button
        background:#DC5803
        text-decoration: none
        color: white
        font-size: 20px
        border-radius: 50px 50px
        width: 1000px
        padding: 12px 35px
        &:hover
          background: #F76100

    .li
      display: inline
      text-align: center
      margin: 0 10px 0 0
      padding-bottom: 25px

      .a
        padding: 2px 7px
        color: #000000
        text-decoration: none
        &:focus
          color: orange

    .si
      border-bottom: 3px solid yellow


