
.header

  .lista
    list-style-type: none
    height: 66px
    align-items: center
    text-align: center


    .logo
      display: inline
      float: left

    .opciones
      display: inline
      margin-left: 15px

    .addAlbum
      display: inline
      float: right

      .button
        background:#DC5803
        text-decoration: none
        color: white
        font-size: 20px
        border-radius: 50px 50px
        width: 1000px
        padding: 12px
        &:hover
          background: #F76100

    .li
      display: inline
      text-align: center
      margin: 0 10px 0 0
      padding-bottom: 30px

      .a
        padding: 2px 7px 2px 7px
        color: #000000
        text-decoration: none
        &:focus
          color: orange

    .si
      border-bottom: 3px solid yellow


