
  
.container
  font-family: Vegur, 'PT Sans', Verdana, sans-serif
  
  .header
    background-color: rgba(0, 0, 0, .7)
    text-align: center
    display: flex
    margin: -1% -0.5% 2% -1%
    justify-content: center
    font-size: 25px

    .icono
      
      

    .title
      text-decoration: none
      display: inline
      color: white