.body
  background-attachment: local
  background-repeat: no-repeat
  background-size: cover
  text-align: center

  .lef
    text-align: center
    display: inline
    margin-right: 50%

  .right
    text-align: center
    display: inline
