<div class="body" style="background-image: url(../../../../../../assets/nodecasa.jpg); height: 100vh;">
  <div class="lef">
    <div class="bienvenida">
      <h1 class="title">APLICACIÓN PARA GUARDAR ALBUMES CON IMAGENES</h1>
      <p class="subtitle">Imagenes</p>
      <p class="parrafo">
        Esta es una aplicación en donde tu podras crear
        tus propios albumes, dandote la oportunidad de elegir
        cual es el nombre que queda mas adecuado para cada uno de ellos.
        También podras visualizar todas las imagenes que tienes subidas
        editarlas y personalizar su contenido con un nombre y una descripción.
      </p>
      <a href="#" class="readMore">LEER MÁS</a>
    </div>
  </div>
  <div class="right">
      <div class="form">
        <div class="form-title">
          <h1>Guadar imagenes</h1>
        </div>
        <div class="form-body">
          <form method="POST">
            <div class="unidos">
              <div class="control unidos">
                <label for="album"><h3>Album:</h3></label>
                <select name="album" id="album" class="input" [(ngModel)]="imagen.album">
                  <option *ngFor="let alb of album" value="{{alb.id}}">{{alb.nombre}}</option>
                </select>
              </div>
              <div class="control unidos">
                <label for="nombre"><h3>Nombre:</h3></label>
                <input type="text" name="nombre" id="nombre" class="input" [(ngModel)]="imagen.nombre">
              </div>
            </div>
            <div class="control">
              <label for="descripcion"><h2>Descripción:</h2></label>
              <input type="text" name="descripcion" id="descripcion" class="input" [(ngModel)]="imagen.descripcion" >
            </div>
            <div class="control">
              <label for="imagen"><h3>Cargar imagen:</h3></label>
                <div class="botonImg">
                  <input type="file" name="imagen" id="imagen " class="files" required>
                  <div class="examinar">Examinar</div>
                </div>
            </div>
            <a type="button" class="button" (click)="saveImagen()">Agregar imagen</a>
          </form>
        </div>
      </div>
  </div>
</div>
