.body
  background-attachment: local
  background-repeat: no-repeat
  background-size: cover

  .lef
    text-align: center
    margin-right: 50%

  .right
    margin-left: 50%
    text-align: center
