.body
  background-attachment: local
  background-repeat: no-repeat
  background-size: cover
  text-align: center

  .lef
    display: inline-block
    width: 50%
    height: 85%
    text-align: left
    margin-bottom: 15px

    .bienvenida
      width: 70%

      .title
        width: 80%
        color: white
        font-size: 7vh
        font-family: 'Oswald', sans-serif

      .subtitle
        font-size: 4vh
        color: #FFAF0F
        font-family: 'Oswald', sans-serif

      .parrafo
        border-radius: 12px
        font-family:  'Open Sans', sans-serif
        font-size: 2.4vh
        text-align: left
        margin: 0 0 10% 0


      .readMore
        text-decoration: none
        font-family: 'Oswald', sans-serif
        font-size: 2.6vh
        color: white
        border-radius: 50px
        width: 90%
        border: 2px solid white
        padding: 10px 30px

  .right
    display: inline-block
    width: 43%
    margin: 3% 0% 0 0
    height: 85%
    background: rgba(255, 255, 255, 0.8)
    border-radius: 7px
    text-align: left

    .form
      margin: 5px 30px
      color: #4d4d4d

      .form-title
        font-size: 2.5vh
        font-family: 'Oswald', sans-serif

        .tite
          margin: 26px 0 0 0

      .form-body
        font-size: 2vh
        color: #666666
        font-family: 'Open Sans', sans-serif

        .unidos
          width: 100%

          .control.unidos
            width: 44%
            display: inline-block

            .select

              .options
                font-size: 1.5em
                color: black
                background-color: #FFAF0F
                font-family: 'Quicksand', sans-serif

        .control
          margin: 10px 10px
          width: 100%
          font-size: 2vh
          // font-size: 100%

          .input
            width: 90%
            height: 50px
            padding-left: 20px
            border-radius: 50px
            outline: none
            border: 0

            &:focus
              border-radius: 50px
              outline: none
              outline-width: 0
              box-shadow: none
              -moz-box-shadow: none
              -webkit-box-shadow: none

          .botonImg
            background: #FFAF0F
            text-decoration: none
            color: white
            font-size: 18px
            font-family: 'Oswald', sans-serif
            border-radius: 50px
            width: 14%
            padding: 11px 50px
            cursor: pointer
            &:hover
              background: #F0A000

<<<<<<< HEAD
            .files
=======
            .inputImg
              cursor: pointer
>>>>>>> a85b5a262219c509f50610ce827cfbe2cb4a7121
              opacity: 0
              position: absolute
              margin-left: -50px
              margin-top: -11px
              width: 170px
              height: 52px


              .examinar
<<<<<<< HEAD
                 text-align: center
=======
                cursor: pointer
                height: 18px
                padding-left: 168px
>>>>>>> a85b5a262219c509f50610ce827cfbe2cb4a7121

            
        .button
          background: #FFAF0F
          text-decoration: none
<<<<<<< HEAD
          outline: none
=======
          text-align: center
>>>>>>> a85b5a262219c509f50610ce827cfbe2cb4a7121
          color: white
          font-size: 3.3vh
          font-family: 'Oswald', sans-serif
          border-radius: 50px
          width: 75%
          padding: 17px 50px
          margin: 5% 0 0 2%
          cursor: pointer
          border-radius: 50px
          outline: none
          outline-width: 0
          box-shadow: none
          -moz-box-shadow: none
          -webkit-box-shadow: none
          &:hover
            background: #F0A000
          
           
            




