<div class="header">
  <h1 class="gigantTitle"></h1>
  <h1 class="title">{{title}}</h1>
    <div class="button">
      <a>{{title}}</a>
    </div>
</div>
<div class="list">
  <div *ngFor="let img of imagen"  class="card">
    <div class="card-picture">
      <img src="{{url + img.imagen}}" class="picture">
    </div>
    <div class="cardInfo">
      <h2 class="cardTitle">{{img.nombre}}</h2>
      <h3 class="cardAlbum">{{img.album}}</h3>
    </div>
    <div class="cardDescription">
        {{img.descripcion}}
    </div>
    <div class="cardFalse"></div>
  </div>
</div>